{% extends 'base.html' %}

{% block content %}

<section class="container-fluid py-3 bg-light" style="min-height: 100vh">
	<h1 class="text-center py-3">Vue Signup Form</h1>

	<form method="POST" class="py-4 mt-3 col-lg-5 col-md-8 card mx-auto shadow rounded-lg" id="signup-form">
		<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
		<div class="col mx-auto form-group">
			<label for="uname">Username :</label>
			<input type="text" name="username" class="form-control" id="uname" placeholder="Enter Username" v-model.lazy="username.value" :class="[username.class]" v-on:change="username_ajax_check" required>
			<div class="invalid-feedback">
				{% raw %} {{ username.feedback }} {% endraw %}
			</div>
		</div>
		<div class="col mx-auto form-group">
			<label for="pass">Password :</label>
			<input type="password" name="password" class="form-control" id="pass" placeholder="Enter Password" v-model="password.value" :class="[password.class]" required>
			<div class="invalid-feedback">
				{% raw %} {{ password.feedback }} {% endraw %}
			</div>
		</div>
		<div class="col mx-auto form-group">
			<label for="c_password">Confirm Password :</label>
			<input type="password" name="c_password" class="form-control" id="c-pass" placeholder="Retype Password" v-model="c_password.value" :class="[c_password.class]" required>
			<div class="invalid-feedback">
				{% raw %} {{ c_password.feedback }} {% endraw %}
			</div>
		</div>
		<div class="col mx-auto form-group">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" name="agree" id="agree" class="custom-control-input" value="agree" v-model="agree.value" :class="[agree.class]" required>
				<label class="custom-control-label" for="agree">I agree to the terms and conditions</label>
				<span class="invalid-feedback">{% raw %} {{ agree.feedback }} {% endraw %}</span>
			</div>
		</div>
		<div class="col">
			<input type="submit" name="submit" class="btn btn-success" value="SignUp" id="signup" v-on:click="validate($event)">
			<a href="#" class="mt-2 float-right">Already have an account!</a>
		</div>
	</form>
</section>

<script type="text/javascript">
	// var resp_data = JSON.parse('{{ context.resp_data|safe }}');
	var signup_app = new Vue({
		el: '#signup-form',
		data: {
			username:{
				value:'',
				class:null,
				feedback: 'This Field is required',
				available:null,
			},
			password: {
				value:'',
				class:null,
				feedback: 'Password must be atleast 6 characters',
			},
			c_password: {
				value:'',
				class:null,
				feedback: 'Password mismatch',
			},
			agree: {
				value:[],
				class:null,
				feedback: 'This Field is required',
			},
		},
		methods: {
			username_ajax_check : function(){
				if(this.username.value.length>0){
					$.ajax({
					url: "{{ url_for('username_check') }}",
					data: {'username':signup_app.username.value,'csrf_token':$('#csrf_token').val()},
					type: "POST",
					async: "false",
					success: function(result){
						if(result.available){
							signup_app.username.available = true;
						}
						else{
							signup_app.username.available = false;
						}
					},
					error: function(){
						alert('404 error')
						signup_app.username.class = 'is-invalid';
						signup_app.username.available = 'error';
						signup_app.username.feedback = 'cannot reach the server, Try Again!';
						return false;
					},
				});
				}
			},
			uname_validate : function(){
				if(!(this.username.value.length>0)){
					this.username.class = 'is-invalid';
					this.username.feedback = 'This field is required';
					return false;
				}
				if(this.username.available==null){
					this.username.class = null;
					return false;
				}
				if(this.username.available=='error'){
					return false;
				}
				if(!(this.username.available)){
					signup_app.username.class = 'is-invalid';
					signup_app.username.feedback = 'The username is already taken';
					return false;
				}
				this.username.class = 'is-valid';
				return true;
			},
			password_validate : function(){
				if(!(this.password.value.length>=6)){
					this.password.class = 'is-invalid';
					this.password.feedback = 'The password must be atleast 6 characters';
					return false;
				}
				this.password.class = 'is-valid';
				return true;
			},
			c_password_validate : function(){
				if(!(this.c_password.value == this.password.value && this.c_password.value.length>=6)){
					this.c_password.class = 'is-invalid';
					this.c_password.feedback = 'The password didnt match';
					return false;
				}
				this.c_password.class = 'is-valid';
				return true;
			},
			agree_validate : function(){
				if(!(this.agree.value=='agree')){
					this.agree.class = 'is-invalid';
					this.feedback = 'This field is required';
					return false;
				}
				this.agree.class = 'is-valid';
				return true;
			},
			validate : function(event){
				const c1 = this.uname_validate();
				const c2 = this.password_validate();
				const c3 = this.c_password_validate();
				const c4 = this.agree_validate();
				if(!(c1&&c2&&c3&&c4)){
					event.preventDefault();
				}
			},
		},
		watch: {
			'username.value' : function(val) {
				this.uname_validate();
			},
			'username.available' : function() {
				this.uname_validate();
			},
			'password.value' : function() {
				this.password_validate();
			},
			'c_password.value' : function() {
				this.c_password_validate();
			},
			'agree.value' : function() {
				this.agree_validate();
			},
		},
	});
</script>


{% endblock %}